.download-section {
  margin: 12rem auto 10rem auto;

  .uk-accordion-title {
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 1.8rem;
    line-height: 1.4;
    color: rgb(51, 51, 51);
    overflow: hidden;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(64, 142, 66);
    letter-spacing: .2em;

    @media only screen and (max-width: 340px) {
      font-size: 1.4rem;
    }
  }

  &__container {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgb(231, 241, 232);
    padding: 75px;
    border-radius: 0 85px 0 0;

    @media only screen and (max-width: 959px) {
      margin-top: 40px;
      padding: 50px;

    }

    @media only screen and (max-width: 360px) {
      padding: 40px;

    }


    li {
      &:last-of-type {
        display: none;
      }
    }


  }

  .uk-accordion-content {
    padding: 40px 40px 0 40px;
    margin: 0;

    @media only screen and (max-width: 480px) {
      padding: 30px 30px 0 30px;

    }
  }
}

ol {

  &.uk-accordion {
    list-style: none;
    counter-reset: my-awesome-counter;

    li {

      &.uk-accordion-list {
        counter-increment: my-awesome-counter;


        .uk-accordion-title__container {
          &:after {
            content: counter(my-awesome-counter);
            color: rgb(64, 142, 66);
            text-shadow: 4px 0px 0px #e1ebe2;
            font-weight: 400;
            font-size: 4.8rem;
            margin: 0 3rem;
            font-family: 'Old Standard TT', serif;

            @media only screen and (max-width: 360px) {
              margin: 0 1.5rem;
              font-size: 3.8rem;
            }

          }

          &:before {
            position: absolute;
            right: 0;
          }
        }
      }

    }
  }

}

.download-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;

  &__para {
    font-size: 1.8rem;
    margin-right: 2rem;
    font-weight: 700;
    line-height: 1.4;
    color: rgb(51, 51, 51);
    letter-spacing: 0.05em;

    @media only screen and (max-width: 480px) {
      margin-bottom: 3rem;
    }
  }

  &-divider {
    background: #333;
    height: 1px;
    width: 100%;
    margin: 4rem 0;

  }

  @media only screen and (max-width: 480px) {

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

  }

}

body .download-section .uk-accordion-title__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  position: relative;
  padding: 0 7rem 0 0;

}
