.contact {
    margin: 0;
}

.contact-container {
    .download-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .card-visit-subtitle {
        margin-bottom: 5rem;
    }
}

#map {
    height: 100%;
}

.map_container {
    width: 100%;
    padding: 0;
    height: 400px;
    margin-top: 10rem;
}

.regulations {
  position: relative;
  transition: .3s color;

  &:hover {
    color: rgb(64, 142, 66);
  }

  &:after {
    content: url(../images/svg/arrow-right.svg);
    margin-left: 3px;
    position: relative;
    top: -1px;
    transition: transform .3s;
  }
}
