.recipe-for-success {

  &__list {
    font-size: 1.8rem;
    color: $secondMenu;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    p {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      &:before {
        content: '';
        background: rgb(64, 142, 66);
        height: 1px;
        width: 30px;
        display: block;
        margin-right: 2rem;

      }
    }

  }

}

.recipe-for-success-box {
  padding: 5rem 7rem !important;
  position: relative;
  left: -200px;


  @media only screen and (max-width: 1300px) {
    left: -100px;

  }

  @media only screen and (max-width: 1024px) {
    left: -50px;

  }

  @media only screen and (max-width: 959px) {
    left: 0;

  }

}

.section-bg {
  background-image: url(../images/main-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post-details {
  margin-top: .5rem;
  font-size: 1rem;
  letter-spacing: .1em;
  font-weight: 600;
  color: $darkGreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  span {
    margin: 0 1rem 1rem 0;
  }

  &__tag {
    color: $darkGreen;
    background: $lightGreen;
    padding: 3px 10px;
    border-radius: 12px;
    margin: 0 1rem 1rem 0;
    -webkit-transition: .3s color, .3s background;
    transition: .3s color, .3s background;

    &:hover {
      background: rgb(64, 142, 66);
      color: rgb(231, 241, 232);
    }
  }
}

.read-more {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: .1em;
  color: rgb(34, 34, 34);
  margin-top: 20px;
  display: block;
  position: relative;
  -webkit-transition: .3s color;
  transition: .3s color;
  &:before {
    content: url(../images/svg/arrow-right.svg);
    display: block;
    position: absolute;
    left: 120px;
    -webkit-transition: .3s transform;
    transition: .3s transform;
  }

  &:hover {
    color: $darkGreen;
    &:before {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
  }
}

.bottom-border {
  border-bottom: 1px solid rgb(231, 231, 231);
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.blog-section {
  margin-bottom: 8rem;

  .uk-card-body {
    min-height: 18rem;
    padding: 10px 30px 10px 40px;
  }

  .bottom-border {
    min-height: 18rem;

  }

  @media only screen and (max-width: 1200px) {
    .revert-blog-card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

  }

  @media only screen and (max-width: 959px) {
    .revert-blog-card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }

  }


}
