.sectiom-single-post {
    margin-bottom: 7rem;

    .uk-card-media-left {
        img {
            width: 100%;
            max-height: 600px;
            -o-object-fit: cover;
               object-fit: cover;
              margin: 2rem 0;

            &.no-mar {
              margin: 0;
            }
        }
    }


   .h3 {
    font-size: 2.6rem;
    margin-bottom: 4rem;
   }

   .uk-container-large {
       position: relative;

        &:after {
            content: '';
            background: #ddd;
            height: 1px;
            width: 100%;
            display: block;
        }
   }

}

.page-id-13 .download-section__container li:last-of-type {
  display: flex;
}
