.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2.5rem;
  -webkit-transition: .3s color, .3s background;
  transition: .3s color, .3s background;
  font-family: "Poppins", sans-serif;

  &--green {
    color: $darkGreen;
    background: $lightGreen;
    border: 1px solid $lightGreen;

    &:hover {
      background: transparent;
      color: $darkGreen;
    }
  }

  &--empty {
    border: 1px solid rgb(64, 142, 66);
    background: rgb(255, 255, 255);
    color: rgb(34, 34, 34);

    &:after {
      content: url(../images/svg/arrow-right.svg);
      margin-left: 10px;
      position: relative;
      top: -1px;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s;
    }

    &:hover {
      background: transparent;

      &:after {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
      }

    }
  }

  &--transparent {
    border: 1px solid rgb(64, 142, 66);
    background: transparent;
    color: rgb(34, 34, 34);

    &:hover {
      color: rgb(255, 255, 255);
      background: rgb(64, 142, 66);
    }
  }

  &--size {
    width: 18rem;
    min-width: 18rem;
    height: 5rem;
  }

  &--size-big {
    width: 26rem;
    min-width: 26rem;
    height: 5rem;
  }

  &--size-full {
    width: 100%;
    height: 5rem;
  }

  &--text {
    font-size: 1.3rem;
    letter-spacing: 0.1em;
  }


}

.button:disabled {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: not-allowed;
  background: rgb(221, 221, 221);
  border: 1px solid rgb(221, 221, 221);
  opacity: .6;

  &:hover {
    color: rgb(64, 142, 66);
    background: rgb(221, 221, 221);
  }
}
