.card-visit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    &__title {
        font-weight: 700;
        letter-spacing: 0.05em;
        font-size: 1.8rem;
        line-height: 1.4;
        color: rgb(51, 51, 51);
        margin: 2rem 0;
        text-align: center;
    }

    &-subtitle {
        font-weight: 300;
        font-size: 1.5rem;
        letter-spacing: 0.075em;
        color: rgb(51, 51, 51);
        line-height: 1.8;
        margin-bottom: 3rem;
    
        &__link {
            -webkit-transition: .3s color;
            transition: .3s color;
                &:hover {
                    color: $darkGreen;
                }
        }
    }

}

.card-footer {
    font-size: 1.5rem;
    letter-spacing: 0.075em;
    margin-bottom: 3rem;

    a {
        color: rgb(64, 142, 66);

        svg {
            margin-left: 5px;
            path {
                fill: rgb(64, 142, 66);
            }
        }
        
    }
}