.edit-text-box {
    p {
        font-weight: 300;
        font-size: 1.5rem;
        letter-spacing: 0.075em;
        color: #333;
        line-height: 1.8;
        margin-bottom: 3rem;
        text-align: left;

    }

    h3 {
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin-bottom: 4.5rem;
    }

    ul {
        font-weight: 300;
        font-size: 1.5rem;
        letter-spacing: 0.075em;
        color: rgb(51, 51, 51);
        line-height: 1.8;
        margin: 3rem 0;
        text-align: left;
        li {
            position: relative;
            padding-left: 2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            margin-top: 2rem;

                &:before {
                    content: '';
                    background: rgb(197, 221, 199);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 10px;
                }
        }
    }

    ol {
        list-style: none;
        counter-reset: my-awesome-counter;
        margin: 3rem 0;

        li {
            font-size: 1.5rem;
            letter-spacing: .075em;
            font-weight: 300;
            line-height: 1.6;
            counter-increment: my-awesome-counter;
            margin-bottom: 3rem;
            padding-left: 2rem;
            position: relative;

            &:last-of-type {
                margin-bottom: 0;
            }

                &:before {
                    content: counter(my-awesome-counter) '.';
                    font-weight: 300;
                    font-size: 1.5rem;
                    color: rgb(51, 51, 51);
                    line-height: 1.6;
                    margin-right: 5px;
                    position: absolute;
                    left: 0;
                  }


        }
    }

    blockquote,
        q {
            line-height: 1.6;
            font-size: 1.5rem;
            letter-spacing: 0.075em;
            color: rgb(64, 142, 66);
            background: rgba(0, 0, 0, 0);
            font-weight: 400;
            margin: 3rem 0;
            padding: 3rem;
            width: calc(100% - 80px);
            font-family: 'Poppins', sans-serif;
            font-style: italic;
            border-left: 8px solid rgb(231, 241, 232);

            p {
                color: rgb(51, 51, 51);
                font-weight: 500;
            }
    }
}

.bibliography {
    background: rgb(231, 241, 232);
    padding: 4.8rem;
    margin-top: 5rem;

  @media only screen and (max-width: 639px) {
        padding: 3.5rem;
    }

    .edit-text-box {
        h3 {
            letter-spacing: 0.075em;
        }

        ol {
            list-style: none;
            counter-reset: my-awesome-counter;

            li {
                font-size: 1.3rem;
                letter-spacing: .075em;
                font-weight: 300;
                line-height: 1.6;
                counter-increment: my-awesome-counter;
                margin-bottom: 3rem;

                &:last-of-type {
                    margin-bottom: 0;
                }

                    &:before {
                        content: counter(my-awesome-counter) '.';
                        font-weight: 300;
                        font-size: 1.3rem;
                        color: rgb(51, 51, 51);
                        line-height: 1;
                      }


            }
        }
    }
}

.faq {
    .uk-accordion-content {
        padding: 40px 40px 0 40px;
        margin: 0;
    }

}

.container-accordion {
    .uk-accordion-content {
        padding: 40px 40px 0 40px;
        margin: 0;
    }
}
