// 404 error 

.error-page nav,
.error-page footer,
.error-page .nh-footer-copyrights {
    display: none;
}


.error404 {

    section {
        margin: 0;
    }
    
    .p-0 {
        padding: 0
    }
    
    .er-center-it {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .er-404-section {
        height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-position: center;
        background-size: cover;
    }
    
    .er-more-link {
        font-size: 1.1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 5rem auto 14rem auto !important;
        border: 1px solid rgb(66, 93, 133);
        width: 26rem;
        height: 4rem;
        letter-spacing: 0.2em;
        border-radius: 12rem;
        -webkit-transition: color .3s, background .3s;
        transition: color .3s, background .3s;
        background: rgba(0, 0, 0, 0);
        cursor: pointer;
        width: 20rem;
        margin: 1rem 0 3rem 0 !important;
    }
    
    .er-more-link:hover {
        background: rgb(66, 93, 133);
        color: rgb(255, 255, 255);
    }
    
    .er-100-div .er-error-title {
        font-size: 48px;
        margin-bottom: 50px;
        font-weight: 700;
        
    }
    
    .er-error-title span {
        font-weight: 700;
        color: rgb(64, 142, 66);
    }
    
    .er-100-div {
        width: 100%;
    }
    
    .er-bg {
        height: 100vh;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    
    .er-404-section h2 {
        font-size: 10rem;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0.5rem;
        color: #ef4f4f;
        overflow: hidden;
        font-weight: 700;
    }
    
    .er-center-it {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;
                        position: relative;   
              
    }
    
    .er-404-section p {
        font-size: 16px;
        color: rgb(51, 51, 51);
        text-align: center;
        position: relative;
        letter-spacing: 2px;
        font-weight: 400;
        margin-bottom: 50px;
        margin-top: 20px;
    
    }
    
    
    .er-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        background: rgb(200, 33, 47);
        color: rgb(255, 255, 255);
        width: 350px;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        height: 50px;
        border-radius: 2.25rem;
        padding: 0 .5rem;
        -webkit-transition: .5s all;
        transition: .5s all;
        cursor: pointer;
        text-decoration: none;
    }
    
    .er-btn span {
        font-size: 15px;
    }
    
    .er-btn svg {
        width: 15px;
        height: auto;
        position: relative;
        left: 12px;
        top: -1px;
        -webkit-transition: .3s all;
        transition: .3s all;
    }
    
    .er-btn:hover svg {
        left: 20px;
    }
    
    
    .er-span-primary-color {
        color: #0099a1;
    }
    
    .second-letter {
        font-size: 6rem;
    }
    
    .er-error {
        font-size: 3.2rem;
        color: #666666;
        position: relative;
        bottom: 10px;
        left: 28px;
    }
    
    .container .er-404 {
        margin-left: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    @media only screen and (min-width: 2000px) {
    
        .img-fluid {
            width: 580px;
        }
    }
    
    @media only screen and (max-width: 1300px) {
    
        .container .er-404 {
            margin-left: 45%;
        }
    }
    
    @media only screen and (max-width: 991px) {
        .container .er-404 {
            margin-left: 0%;
            background: rgba(255, 255, 255, .4);
            padding: 2rem 1rem;
        }

        .er-404-section p {
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 959px) {
       .er-404-section {
            height: 100%;
            margin: 50px 0;
        }

        .er-bg {
            height: 100%;
        }

        .er-center-it {
            margin-top: 20px;
            width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            padding: 0;
        }

        .er-100-div {
            margin: 0;

         .no-padding {
             padding: 0;
         }
        }

        .er-100-div .er-error-title {
            margin-bottom: 10px;
        }

        .er-404-section p {
            margin-bottom: 30px;
        }
    }
    
    @media only screen and (max-width: 768px) {
    
    
        body .er-btn span {
            font-size: 12px;
        }
    }
    
    @media only screen and (max-width: 767px) {
        .er-404-section {
            height: auto;
        }
    
    
        img {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    
        .er-bg {
            background-size: cover;
        }
    
        .img-fluid {
            margin-top: 2rem;
        }
    
        .uk-flex {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column
        }

    }
    
    @media only screen and (max-width: 547px) {
        .er-error {
            font-size: 2.2rem;
        }
    
        .er-404-section h2 {
            font-size: 6rem;
        }
    
        .er-separator {
            left: 0;
            margin: 0 auto;
        }
        .er-404-section a {
            letter-spacing: 1px;
          
        }
    }
    
    @media only screen and (max-width: 480px) {
    
        .er-404-section a {
            letter-spacing: 1px;
            width: 17rem;
        }
    
        .er-error {
            font-size: 2.2rem;
            left: 0;
        }
    
        .img-fluid {
            width: 300px;
        }
    
        .er-404-section p {
            font-size: 16px;
        }

        .er-404-section p {
            font-size: 14px;
            text-align: left;
        }

        .er-100-div .er-error-title {
            font-size: 40px;
        }
    }
}