nav {

    .social-media-list {
        li {
            margin-right: 3rem;
            position: relative;

                &:after {
                    content: '';
                    display: block;
                    background: rgb(221, 221, 221);
                    width: .1rem;
                    height: 2rem;
                    position: absolute;
                    right: -15px;
                    top: -4px;
                    
                }

                &:last-of-type {
                    margin-right: 0;
                    
                    
                    &:after {
                        display: none;
                        
                    }
                }
        }
    }

}


.footer__nav{
    li {
        margin-right: 4.5rem;
        position: relative;

            &:after {
                content: '';
                display: block;
                background: rgb(221, 221, 221);
                width: 2rem;
                height: .1rem;
                position: absolute;
                right: -32px;
                top: 5px;
                
            }

            &:last-of-type {
                margin-right: 0;
                
                
                &:after {
                    display: none;
                    
                }
            }
    }
}