.banner-text-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(100% - 60px);
  max-width: 1300px;
  margin: 0 auto;

  &__first-line {
    position: relative;
    font-size: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;

    &:before {
      content: '';
      background: rgb(64, 142, 66);
      height: 1px;
      width: 30px;
      display: block;
      margin-right: 2rem;

    }

  }

  &__h2 {
    font-size: 4.8rem;
    color: $textColor;
    margin: 5rem 0;
    max-width: 51rem;
    line-height: 1.2;

    @media only screen and (max-width: 1440px) {

      margin: 3rem 0;
      font-size: 4.4rem;

    }


    @media only screen and (max-width: 1200px) {

      font-size: 3.2rem;

    }

    @media only screen and (max-width: 959px) {

      font-size: 3.8rem;
      margin: 2rem 0;
      line-height: 1.1;

    }

  }
}

.main-bannner {

  @media only screen and (max-width: 767px) {
    .uk-slideshow-items,  .main-bannner__image  {
      min-height: 50rem!important;
    }

    .main-bannner__image {
      -o-object-fit: cover;
      object-fit: cover;
    }

  }

}

.banner-image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
