.image-effect-box {

    padding-left: 3rem;
    position: relative;
    &--img {
        border-radius: 0 85px 0 0;
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
        box-shadow: 0 2px 10px rgba(0,0,0,.2);
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }

    &:before {
        content: '';
        display: block;
        border: 2px solid rgb(209, 228, 209);
        width: calc(100% - 8rem);
        height: 100%;
        position: absolute;
        left: 0;
        top: 3rem;
        z-index: -1;

        @media only screen and (max-width: 959px) {
                
            width: calc(100% - 3rem);
    
        }
    }

}

.social-media-link {
    &:hover {
        color: $darkGreen;
    }
}

.box-shadow {
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.hide-desktop-nav {
    display: none;
}

.padding-right-10 {
    padding-right: 10px;
}

.margin-center {
    margin: 0 auto;
}

.plus-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(64, 142, 66, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: background .65s;
    transition: background .65s;

        svg {
            -webkit-transform: translateY(15px);
            transform: translateY(15px);
            -webkit-transition: opacity .3s,transform .3s;
            -webkit-transition: opacity .3s,-webkit-transform .3s;
            transition: opacity .3s,-webkit-transform .3s;
            transition: opacity .3s,transform .3s;
            transition: opacity .3s,transform .3s,-webkit-transform .3s;
            opacity: 0;
        }

        &:hover {
            background: rgba(64, 142, 66, .5);

            svg {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
}

@media only screen and (max-width: 1024px) {
    .hide-desktop {
        display: none;
    }

    .hide-desktop-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media only screen and (max-width: 639px) {
    .hide-mobile-639 {
        display: none;
    }
    
}

