.uk-offcanvas-bar a {
    color: rgb(64, 142, 66);
    -webkit-transition: .3s color;
    -webkit-transition: .3s color, background .3s;
    transition: .3s color, background .3s;
    &:hover {
        color: rgb(255, 255, 255);
    }
}

.uk-offcanvas-bar .uk-close {
    color: rgb(64, 142, 66);
}

.uk-nav {
    .uk-navbar-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 4rem;
        li {
            a {
                font-size: 1.4rem;
                letter-spacing: 0.15em;
                min-height: 50px;
                text-transform: none;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;

            }
        }
    }
}

body {
    .uk-offcanvas-bar {
      background: rgb(231, 241, 232);
        .social-media-list {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: absolute;
            bottom: 40px;
          justify-content: flex-start;
          align-items: flex-start;
            .social-media-list__item {
              text-align: left;
              margin-bottom: 0.5rem;
              width: 175px;
              line-height: 1.4;

            }
        }
    }
    .uk-offcanvas-bar .uk-navbar-nav>li>a {
        color: rgb(64, 142, 66);
        &:hover {
            color: rgb(34, 34, 34);
        }
    }
}

.uk-slider-items {
  .uk-panel {
    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
}

body .uk-dotnav>* {
  margin-bottom: 5px;
}

body {
    .uk-accordion-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #f2f2f2;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        padding-right: 2rem;

      @media only screen and (max-width: 959px) {
        font-size: 2rem;
      }
        @media only screen and (max-width: 639px) {
            font-size: 1.4rem;
        }
        &:before {
            display: none;
        }
        &__container {
            max-width: 900px;
            margin-right: 2rem;
            width: 100%;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;


            &:before {
                content: "";
                width: 1.6em;
                height: 1.6em;
                min-width: 1.6em;
                min-height: 1.6em;
                max-width: 1.6em;
                max-height: 1.6em;
                margin-left: 40px;
                float: left;
                background-image: url(../images/svg/plus.svg);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                margin-right: 30px;
            }
        }
    }
    .uk-accordion-content {
        text-align: center;
        padding: 0 5px;
        margin: 30px 0 100px 0;
        min-height: 5rem;

        @media only screen and (max-width: 480px) {
            padding: 30px 30px 0 30px;

        }

        .margin-center {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        .uk-card {
            -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            .card-head {
                height: 10rem;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                h3 {
                    font-size: 1.8rem;
                    font-weight: 700;
                    letter-spacing: .05em;
                }
            }
            .card-body {
                height: 10rem;
                background: rgb(231, 241, 232);
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                position: relative;

                &__span {
                    color: rgb(64, 142, 66);
                    font-weight: 300;
                    letter-spacing: 0.075em;
                    font-size: 1.2rem;
                    position: absolute;
                    bottom: 20px;

                }

                &__price {
                    font-size: 2.6rem;
                    letter-spacing: 0.05em;
                    font-weight: 300;
                    span {
                        color: rgb(64, 142, 66);
                        font-weight: 700;
                    }
                }
            }
            .card-footer {
                padding: 40px 20px;
                ul {
                    li {
                        font-weight: 300;
                        font-size: 1.5rem;
                        text-align: left;
                        margin-bottom: 3rem;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: start;
                        -ms-flex-pack: start;
                        justify-content: flex-start;
                        -webkit-box-align: start;
                        -ms-flex-align: start;
                        align-items: flex-start;
                        line-height: 1.6;
                        &:before {
                            content: url(../images/svg/ok.svg);
                            display: block;
                            margin-right: 1.5rem;
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
        }
    }
    .uk-accordion {
        li {
            a {
                height: 12rem;
            }
            &.uk-open {
                a {
                    color: $darkGreen;
                }

            }
        }

    }
    .uk-accordion>:nth-child(n+2) {
        margin-top: 40px;
    }
}

.page-id-23 {
  .uk-accordion-title {
    font-size: 2.6rem;

    @media only screen and (max-width: 959px) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 639px) {
      font-size: 1.4rem;
    }
  }
}

body .uk-open .uk-accordion-title__container:before {
    background-image: url(../images/svg/minus.svg);
}

.uk-accordion-title::before {
    margin-right: 10px;
}


    .uk-input:focus, .uk-select:focus, .uk-textarea:focus {
        border-color: $darkGreen;
    }

    .uk-input, .uk-select, .uk-textarea {
        border: 1px solid #dddddd;
    }

    .uk-textarea, .uk-select {
        padding: 1rem 2rem;
    }

    .uk-input, .uk-textarea, .uk-select {
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: .05em;
        color: #333;
    }

    .uk-checkbox:focus, .uk-radio:focus {
        outline: 0;
        border-color: rgb(64, 142, 66);
    }

    .uk-modal-dialog {
        min-height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .uk-modal-close-full {
        border: 1px solid rgb(64, 142, 66);
        border-radius: 50%;
        padding: 10px;
        top: 10px;
        right: 10px;

        svg {
            -webkit-transition: -webkit-transform .3s;
            transition: -webkit-transform .3s;
            transition: transform .3s;
            transition: transform .3s, -webkit-transform .3s;
            line {
                stroke: rgb(64, 142, 66)!important;
            }

        }

        &:hover {

            svg {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }


        }


    }

body .container-accordion {
    margin-top: 10rem;

    .uk-accordion-title__container {
        font-size: 1.8rem;
        margin-right: 2rem;
    }

    .uk-accordion>:nth-child(n+2) {
        margin-top: 0;

        @media only screen and (max-width: 1200px) {
            margin-bottom: 40px;
        }

    }
}

.uk-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                font-size: 1.5rem;

                &.uk-active {
                    span {
                        font-weight: 700;
                        background: rgb(231, 241, 232);
                        width: 4rem;
                        height: 4rem;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        border-radius: 50%;
                    }
                }


                a {
                    span {
                        font-size: 1.3rem;
                    }
                }




    }

    @media only screen and (max-width: 639px) {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 5rem;
    }
}

.uk-tooltip {
    background: rgb(64, 142, 66);
    color: #fff;
    letter-spacing: 0.15em;
    padding: 2px;

}

body {
    [class*=uk-navbar-dropdown-bottom] {
        margin-top: 10px;
    }

    .uk-navbar-dropdown-nav {
        font-size: 1.4rem;
        letter-spacing: 0.05em;
        text-transform: none;
        color: rgb(34, 34, 34);
    }

    .uk-navbar-dropdown-nav>li>a {
        color: rgb(51, 51, 51);
        font-weight: 600;

            &:hover {
                color: rgb(64, 142, 66);
            }

    }

    .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus {
        color: rgb(64, 142, 66);
        outline: 0;
    }

    .uk-navbar-dropdown-nav {
        li {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .uk-navbar-dropdown {
        min-width: 250px;

    }
}

body .uk-offcanvas-bar .uk-navbar-nav>li>a:active {
    color: rgb(34, 34, 34);
}

body .uk-offcanvas-bar .uk-navbar-nav>li>a:focus {
    color: rgb(34, 34, 34);
}

.uk-offcanvas-bar {
    .uk-navbar-dropdown-nav li a {
        min-height: 18px;

    }
}

body .uk-offcanvas-bar .uk-navbar-nav>li>a.uk-open {
    color: rgb(64, 142, 66);
}

.dot-slide .uk-dotnav>*>* {
    border: none;
    background: rgb(228, 238, 229);
    width: 20px;
    height: 20px;
}

.dot-slide .uk-dotnav>.uk-active>* {
    background-color: rgb(159, 198, 160);
}

body .dot-slide .uk-dotnav {
    margin-top: 50px;
}

.uk-lightbox {
    background: rgba(0, 0, 0, .15);
}

.uk-offcanvas-bar {
  .uk-navbar-nav {
    li {
      &:last-of-type {
        display: none;
      }

      &.parent-li {
          li {
            &:last-of-type {
              display: block;
            }
          }
      }


    }
  }
  .uk-offcanvas-close {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

body .uk-offcanvas {
  background: rgba(22, 49, 23, .9);
}

body .uk-offcanvas-bar .uk-close:hover {
  color: rgb(34, 34, 34);
}

#modal-full {
  .section-title {
    color: rgb(34, 34, 34);
    margin: 0 0 4rem 0;
  }
}


@media only screen and (max-width: 480px) {
  .page-id-23 {
    .uk-accordion-content {
      padding: 0;
    }
  }
}


@media (min-width: 1200px) {
  .uk-grid-large>* {
    padding-left: 90px;
  }

  .uk-grid-large {
    margin-left: -90px;
  }
}


@media only screen and (max-width: 639px) {
    .uk-logo {
        width: 200px;
    }

    .uk-accordion>:nth-child(n) {

        margin-bottom: 40px;

    }
}
