.val-text {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 127, 122);
    -webkit-transition: all .5s;
    transition: all .5s;
    left: 33px;
    top: -13px;
    font-size: 11px;
    text-transform: lowercase;
    font-weight: 400;
    letter-spacing: .1em;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
}

.validation-span-hide {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

body .anim-typewriter-hide {
    border: 1px solid rgb(255, 127, 122) !important;
}

body .locked {
  width: 300px;
  font-size: 14px;
  color: rgb(197, 221, 199);
  border: none;
  height: 28px;
  line-height: 28px;
  border-radius: 14px;
  margin: 0!important;
  margin-bottom: 2rem!important;
}

body .locked, body .unlocked {
  background: rgb(231, 241, 232);
}

body .text {
  font-size: 11px;
  color: rgb(81, 150, 83);
  letter-spacing: 0.075em;
}

body .drag {
  left: 0px;
  margin-left: 0px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border: none;
  background: rgb(197, 221, 199);
  border-radius: 50%;
}

body .unlocked_handle {
  margin-left: -25px!important;
}
