.search-form {
    width: 100%;

    .input-group {
        position: relative;

        .search-btn {
            position: absolute;
            top: 12px;
            right: 24px;
            background: rgba(0, 0, 0, 0);
            border: none;
        }
    }

    .form-search-control {
        width: calc(100% - 3rem);
        border: 1px solid rgb(231, 241, 232);
        -webkit-transition: border .3s;
        transition: border .3s;
        height: 4rem;
        border-radius: 2rem;
        padding-left: 3rem;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        letter-spacing: .15em;

        &:focus {
            border: 1px solid rgb(64, 142, 66);
        }

        &::-webkit-input-placeholder {
            color: $darkGreen;
            font-size: 1.2rem;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 0.15em;
        }

        &::-ms-input-placeholder {
            color: $darkGreen;
            font-size: 1.2rem;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 0.15em;
        }
    }
}

.comments-count {
  text-align: center;
  margin-top: 10rem;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

aside {

    &.aside {
        margin-bottom: 10rem;
    }

    .tagcloud {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    a {
        -webkit-transition: .3s color;
        transition: .3s color;
        letter-spacing: 0.075em;
        font-size: 1.5rem;
        color: rgb(51, 51, 51);

        &:hover {
            color: rgb(64, 142, 66);
        }

    }

        .widget {
            background: rgb(244, 244, 244);
            margin-top: 5rem;
            padding: 5rem;

            @media only screen and (max-width: 1199px) {
                padding: 4rem;
            }

            @media only screen and (max-width: 480px) {
                padding: 3rem;
            }

            ul {
                li {
                    &:last-of-type {
                        &:after {
                            display: none;

                        }
                    }
                }
            }

        }

        .banner-text-div__first-line {
            font-size: 1.8rem;
        }

        .tag-cloud-link {
            color: rgb(64, 142, 66);
            background: rgb(231, 241, 232);
            padding: 0 15px;
            border-radius: 15px;
            margin: 0 1.5rem 1.5rem 0;
            -webkit-transition: .3s color, .3s background;
            transition: .3s color, .3s background;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.3rem;
            height: 3rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            &:hover {
                background: rgb(64, 142, 66);
                color: rgb(231, 241, 232);
            }
        }

        .post-widget-archive-list {
            font-size: 1.4rem;
            font-weight: 300;
            letter-spacing: 0.075em;
            line-height: 1.4;
            color: rgb(51, 51, 51);
            -webkit-transition: .3s color;

            .post-widget-list-item {
                margin-bottom: 1rem;
            }

            a {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

            }
        }

        .banner-text-div__first-line {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;

        }

        .banner-text-div__first-line:before {
            top: 8px;
            position: relative;
        }

        .blog-single-miniature {
            padding-bottom: 1.5rem;
            position: relative;


                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 1px;
                    width: 100%;
                    background: #ddd;
                    bottom: 0;

                }

            @media only screen and (max-width: 959px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;

                        a {
                            line-height: 1.4;
                        }


            }

            @media only screen and (max-width: 639px) {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }

            @media only screen and (max-width: 480px) {

                    padding-bottom: 2.5rem;
                    margin-bottom: 2.5rem;

                &:after {
                    left: 15px;
                    width: calc(100% - 15px);

                }

            }
        }

    }

body {

    .form-submit {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 5rem;
    }

.comment-container {
    &:after {
        display: none!important;
    }
}

.comment-form-comment {
    margin-top: 15px;
}

.comment-form-comment {
    textarea {
        resize: none;
        padding: 2rem;
    }
}

.comment-respond {

    .uk-input {
        height: 5rem;

    }
}

    .uk-comment-title {
        font-size: 1.25rem;
        line-height: 1.4;
        color: rgb(64, 142, 66)!important;
        font-weight: 400;
        text-transform: capitalize!important;
        font-size: 1.4rem!important;
    }

    time {
        color: rgb(156, 171, 191);
        font-weight: 400;
        text-transform: capitalize!important;
        font-size: 1.4rem!important;
        line-height: 1.4;
    }

        .uk-comment-header {
            margin-bottom: 10px;
            li {
                &:nth-of-type(2) {
                    padding-left: 20px;
                }
            }
        }


    .uk-comment-meta {
        li {
            &:nth-of-type(2) {
                padding-left: 20px;

                    &:before {
                        content: "/";
                        position: absolute;
                        left: 8px;
                        font-size: 1.4rem;
                    }
            }
        }
    }

    .uk-comment-body {
        p {
            margin-bottom: 2rem!important;
        }
    }

    .comment-awaiting-moderation {
        margin-top: 1rem;
        font-style: italic;
    }

    .logged-in-as {
        margin: 2rem 0;

            a {
                &:hover {
                    color: rgb(64, 142, 66);
                }
            }
    }

    #commentform {
        .submit {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 0 auto 0 auto!important;
            -webkit-transition: color .3s,background .3s;
            transition: color .3s,background .3s;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;

        }
    }

    .comment-reply-title {
        font-size: 1.8rem;
        color: rgb(34, 34, 34);
        letter-spacing: 0.05em;
        font-weight: 700;
        margin-top: 6rem;
        margin-bottom: 4rem;
    }

    .uk-comment-list>:nth-child(n+2) {
        margin-top: 50px;
    }

    .uk-comment-list .uk-comment~ul {
        margin: 0 0 0;
    }

    .comment-edit-link {
        font-size: 1.2rem;
    }

    .uk-comment-reply {
        text-transform: lowercase;
        letter-spacing: .2em;
        text-transform: lowercase;
        letter-spacing: .2em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

                a {

                    cursor: pointer;
                    -webkit-transition: color .3s;

                    transition: color .3s;

                        &:hover {
                            color: rgb(64, 142, 66);
                        }

                }

        &::before {
            content: url(../images/svg/small_btn.svg);
            width: 25px;
            height: 25px;
            display: block;
            padding-right: 10px;
        }
    }

    .uk-comment-list {
        article {
            margin-bottom: 3rem!important;
        }
    }

    .comment-intro {
      display: flex;
    }

  .comment .comment-author {
    color: rgb(64, 142, 66);
    font-weight: 600;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .comment-permalink {
    font-size: 14px;
    line-height: 1.8;
  }

  .comment-para, .comment  p {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.075em;
    color: rgb(51, 51, 51);
    line-height: 1.8;
    margin: 1rem 0 2rem 0;
    text-align: left;

  }

  .reply {
    a {
      font-weight: 700;
      text-transform: lowercase;
      letter-spacing: 0.05em;
      font-size: 12px;
      position: relative;

      &:before {
        content: url(../images/svg/arrow-right.svg);
        display: block;
        position: absolute;
        right: -13px;
        transition: transform 0.3s, color .3s;
      }

        &:hover {
          color: rgb(64, 142, 66);
          &:before {
            transform: translateX(5px);
          }



        }
    }
  }
}

body {

  .swal-text {
    font-family: "Poppins", sans-serif;
    color: rgb(34, 34, 34);
  }

  .swal-button {
    background-color: rgb(64, 142, 66);
    border: 1px solid rgb(64, 142, 66);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    box-shadow: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
    transition: background .3s;
    letter-spacing: 0.05em;
  }

  .swal-button:not([disabled]):hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(64, 142, 66);
    border: 1px solid rgb(64, 142, 66);
  }

  .swal-button:focus {
    outline: none;
    box-shadow: none;
  }
}
