@font-face {
    font-family: 'Solveit';
    src: url('../fonts/Solveit.otf') format('opentype');
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
}

body {
    overflow-x: hidden;
}

a {
    &:hover {
        text-decoration: none;
    }
}

section {
    margin-top: 10rem;
}

::selection {
    color: rgb(64, 142, 66);
    background: rgb(231, 241, 232);
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: rgb(64, 142, 66);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.center-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.center-flex-it {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(255, 255, 255);
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-visit .content {
  width: 100%;
  max-width: 380px;
  min-height: 180px;
  margin: 0 auto;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  letter-spacing: .05em;
  color: rgb(64, 142, 66);
}

.content iframe {
  width: 100%;
  min-height: 180px;
}

.blog-grid {
  max-width: 1400px;
  margin: 0 auto;

  @media only screen and (max-width: 1440px) {
      margin: 0 0 0 -30px;
  }
}

.extra-top-mar {
  margin-top: 5rem;
}

.page-id-67 {
  .bibliography {
    padding: 7.8rem;

    @media only screen and (max-width: 1440px) {
      padding: 4.8rem;
    }

    @media only screen and (max-width: 959px) {
      margin-top: 0!important;
    }
  }
}

@media only screen and (max-width: 959px) {
  .solveit {
    padding: 0;
  }
}

@media only screen and (max-width: 575px) {
    .flex-rev-this {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.white-bg {
    background: #fff;
}

.light-green-bg {
    background: rgb(218, 232, 217);
    &--size-margin {
        min-height: 10rem;
        margin-top: 14rem;
        padding: 1rem 0;
    }
    @media only screen and (max-width: 575px) {
        padding: 2rem 0;
    }
}
