h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.text {
    font-family: 'Poppins', sans-serif;
    color: rgb(34, 34, 34);
}

.h2 {
    font-size: 4.2rem;
    @media only screen and (max-width: 575px) {
        font-size: 3.2rem;
    }

    @media only screen and (max-width: 360px) {
        font-size: 2.4rem;
    }
}

.h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 2rem 0;
    letter-spacing: 0.05em;
}

.uk-card-body {
  .h3 {
    font-weight: 700;
  }
}

.footer-title {
    font-size: 2.6rem;
    @media only screen and (max-width: 575px) {
        margin-bottom: 2rem;
    }

    @media only screen and (max-width: 480px) {
        font-size: 2.2rem;
    }
}

.text__blog {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.075em;
    line-height: 1.4;
    color: rgb(51, 51, 51);
}

.section-title {
    color: rgb(34, 34, 34);
    margin: 5rem 0;
    max-width: 46rem;
    line-height: 1.2;
    &--small {
        font-size: 2.6rem;
        margin: 0;
    }
    &--center {
        margin: 5rem auto;
        text-align: center;
    }
}

.text-light {
    font-weight: 300;
}

.text-regular {
    font-weight: 400;
}

.text-semibold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.text-green {
    color: rgb(64, 142, 66);
}

.letter-spaceing-50 {
    letter-spacing: .05em;
}

.letter-spaceing-100 {
    letter-spacing: .1em;
}

.letter-spaceing-200 {
    letter-spacing: .2em;
}
