.card-visit .content {
  width: 100%;
  max-width: 380px;
  min-height: 180px;
  margin: 0 auto;
}

.content iframe {
  width: 100%;
  min-height: 180px;
}

#zlwidget {
  cursor: default;
}

#zlwidget .opinion-widget {
  border-color: #f8f9fa;
  border-width: 2px;
  padding: 10px;
}

#zlwidget .opinion-widget .branding {
  background: transparent;
  margin-top: 10px;
  margin-bottom: -15px !important;
  border-top: 1px solid #e1e1e1;
}

#zlwidget .opinion-widget .branding__logo img {
  height: 18px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  opacity: 0.4;
}

#zlwidget .opinion-widget .animation__button {
  opacity: 1;
  color: #fff;
  background: rgb(64, 142, 66);
  border-color: rgb(64, 142, 66);
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: background .3s, color .3s;
}

#zlwidget .opinion-widget .animation__button:hover {
  background: rgba(0, 0, 0, 0);
  color: rgb(64, 142, 66);
}

#zlwidget .opinion-widget .animation__button svg {
  fill: #fff;
  transition: fill .3s;
}

#zlwidget .opinion-widget .animation__button:hover svg{
  fill: rgb(64, 142, 66);
}

#zlwidget .opinion-widget .top__text {
  font-family: 'Poppins', sans-serif;
  position: relative;
  text-transform: none;
  letter-spacing: .5px;
}

#zlwidget .opinion-widget h4.top__text {
  font-size: 14px;
  color: #333;
}

#zlwidget .opinion-widget h6.top__text {
  color: rgb(64, 142, 66);
}

#zlwidget .rating--white::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='112' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M112 7.782c0 .49-2.309 2.475-5.187 4.704l-.01-.026v.031l.01-.006c1.178 4.046 1.958 7.514 1.436 7.514-.496 0-3.188-1.745-6.241-3.918l-.01.006-.021-.01c-3.045 2.174-5.731 3.922-6.229 3.922-.52 0 .258-3.459 1.434-7.5l.008.007v-.026l-.006.019C94.309 10.273 92 8.286 92 7.781c0-.505 3.148-.814 6.943-.915l.01-.014h.011c1.278-3.755 2.544-6.853 3.035-6.853.491 0 1.757 3.096 3.038 6.852h.01l.01.02c3.795.109 6.941.414 6.941.91zm-23 0c0 .49-2.309 2.475-5.187 4.704l-.01-.026v.031l.01-.006c1.178 4.046 1.958 7.514 1.436 7.514-.496 0-3.188-1.745-6.241-3.918l-.01.006-.021-.01c-3.045 2.174-5.731 3.922-6.229 3.922-.52 0 .258-3.459 1.434-7.5l.008.007v-.026l-.006.019C71.309 10.273 69 8.286 69 7.781c0-.505 3.148-.814 6.943-.915l.01-.014h.011c1.278-3.755 2.544-6.853 3.035-6.853.491 0 1.757 3.096 3.038 6.852h.01l.01.02c3.795.109 6.941.414 6.941.91zm-23 0c0 .49-2.309 2.475-5.187 4.704l-.01-.026v.031l.01-.006c1.178 4.046 1.958 7.514 1.436 7.514-.496 0-3.188-1.745-6.241-3.918l-.01.006-.021-.01c-3.045 2.174-5.731 3.922-6.229 3.922-.52 0 .258-3.459 1.434-7.5l.008.007v-.026l-.006.019C48.309 10.273 46 8.286 46 7.781c0-.505 3.148-.814 6.943-.915l.01-.014h.011c1.278-3.755 2.544-6.853 3.035-6.853.491 0 1.757 3.096 3.038 6.852h.01l.01.02c3.795.109 6.941.414 6.941.91zm-23 0c0 .49-2.309 2.475-5.187 4.704l-.01-.026v.031l.01-.006c1.178 4.046 1.958 7.514 1.436 7.514-.496 0-3.188-1.745-6.241-3.918l-.01.006-.021-.01c-3.045 2.174-5.731 3.922-6.229 3.922-.52 0 .258-3.459 1.434-7.5l.008.007v-.026l-.006.019C25.309 10.273 23 8.286 23 7.781c0-.505 3.148-.814 6.943-.915l.01-.014h.011c1.278-3.755 2.544-6.853 3.035-6.853.491 0 1.757 3.096 3.038 6.852h.01l.01.02c3.795.109 6.941.414 6.941.91zm-23 0c0 .49-2.309 2.475-5.187 4.704l-.01-.026v.031l.01-.006c1.178 4.046 1.958 7.514 1.436 7.514-.496 0-3.188-1.745-6.241-3.918l-.01.006-.021-.01c-3.045 2.174-5.731 3.922-6.229 3.922-.52 0 .258-3.459 1.434-7.5l.008.007v-.026l-.006.019C2.309 10.273 0 8.286 0 7.781c0-.505 3.148-.814 6.943-.915l.01-.014h.011C8.242 3.097 9.508-.001 9.999-.001c.491 0 1.757 3.096 3.038 6.852h.01l.01.02c3.795.109 6.941.414 6.941.91z' fill='%23fcbd1a'/%3E%3C/svg%3E");
}

#zlwidget .rating--white::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='112' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M112 7.782c0 .49-2.309 2.475-5.187 4.704l-.01-.026v.031l.01-.006c1.178 4.046 1.958 7.514 1.436 7.514-.496 0-3.188-1.745-6.241-3.918l-.01.006-.021-.01c-3.045 2.174-5.731 3.922-6.229 3.922-.52 0 .258-3.459 1.434-7.5l.008.007v-.026l-.006.019C94.309 10.273 92 8.286 92 7.781c0-.505 3.148-.814 6.943-.915l.01-.014h.011c1.278-3.755 2.544-6.853 3.035-6.853.491 0 1.757 3.096 3.038 6.852h.01l.01.02c3.795.109 6.941.414 6.941.91zm-23 0c0 .49-2.309 2.475-5.187 4.704l-.01-.026v.031l.01-.006c1.178 4.046 1.958 7.514 1.436 7.514-.496 0-3.188-1.745-6.241-3.918l-.01.006-.021-.01c-3.045 2.174-5.731 3.922-6.229 3.922-.52 0 .258-3.459 1.434-7.5l.008.007v-.026l-.006.019C71.309 10.273 69 8.286 69 7.781c0-.505 3.148-.814 6.943-.915l.01-.014h.011c1.278-3.755 2.544-6.853 3.035-6.853.491 0 1.757 3.096 3.038 6.852h.01l.01.02c3.795.109 6.941.414 6.941.91zm-23 0c0 .49-2.309 2.475-5.187 4.704l-.01-.026v.031l.01-.006c1.178 4.046 1.958 7.514 1.436 7.514-.496 0-3.188-1.745-6.241-3.918l-.01.006-.021-.01c-3.045 2.174-5.731 3.922-6.229 3.922-.52 0 .258-3.459 1.434-7.5l.008.007v-.026l-.006.019C48.309 10.273 46 8.286 46 7.781c0-.505 3.148-.814 6.943-.915l.01-.014h.011c1.278-3.755 2.544-6.853 3.035-6.853.491 0 1.757 3.096 3.038 6.852h.01l.01.02c3.795.109 6.941.414 6.941.91zm-23 0c0 .49-2.309 2.475-5.187 4.704l-.01-.026v.031l.01-.006c1.178 4.046 1.958 7.514 1.436 7.514-.496 0-3.188-1.745-6.241-3.918l-.01.006-.021-.01c-3.045 2.174-5.731 3.922-6.229 3.922-.52 0 .258-3.459 1.434-7.5l.008.007v-.026l-.006.019C25.309 10.273 23 8.286 23 7.781c0-.505 3.148-.814 6.943-.915l.01-.014h.011c1.278-3.755 2.544-6.853 3.035-6.853.491 0 1.757 3.096 3.038 6.852h.01l.01.02c3.795.109 6.941.414 6.941.91zm-23 0c0 .49-2.309 2.475-5.187 4.704l-.01-.026v.031l.01-.006c1.178 4.046 1.958 7.514 1.436 7.514-.496 0-3.188-1.745-6.241-3.918l-.01.006-.021-.01c-3.045 2.174-5.731 3.922-6.229 3.922-.52 0 .258-3.459 1.434-7.5l.008.007v-.026l-.006.019C2.309 10.273 0 8.286 0 7.781c0-.505 3.148-.814 6.943-.915l.01-.014h.011C8.242 3.097 9.508-.001 9.999-.001c.491 0 1.757 3.096 3.038 6.852h.01l.01.02c3.795.109 6.941.414 6.941.91z' fill='%23fcbd1a'/%3E%3C/svg%3E");
}
