.footer {
  @media only screen and (max-width: 639px) {
    min-height: 16rem;
  }

  .uk-container-large {
    width: 100%;
  }
  min-height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgb(242, 242, 242);
  &__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    li {
      font-size: 1.2rem;
      letter-spacing: .1em;
      -webkit-transition: color .3s;
      transition: color .3s;
      &:hover {
        color: $darkGreen;
      }
    }
    &--link {
      font-size: 1.2rem;
      transition: color .3s;
      &:hover {
        color: $darkGreen;
      }
    }
    @media only screen and (max-width: 959px) {
      padding: 0;
    }
    @media only screen and (max-width: 639px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      li {
        margin-right: 0;
        margin-bottom: 1.5rem;
        &:after {
          display: none;
        }
      }
    }
  }
  &__grid {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @media only screen and (max-width: 959px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0!important;
    }
  }
  &__svg {
    width: auto;
    @media only screen and (max-width: 959px) {
      padding: 0 15px;
      margin-top: 20px;
    }
  }
}
