body {
    .uk-search-input::-webkit-input-placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    }

    .uk-search-input:-ms-input-placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    }

    .uk-search-input::-ms-input-placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    }

    .uk-search-input::placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    }

    .uk-input::-webkit-input-placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    }

    .uk-input:-ms-input-placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    }

    .uk-input::-ms-input-placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    }

    .uk-input::placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    }

    .uk-textarea::-webkit-input-placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    }

    .uk-textarea:-ms-input-placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    }

    .uk-textarea::-ms-input-placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    }

    .uk-textarea::placeholder {
        color: rgb(51, 51, 51);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.05em;
    } 
}

.label {
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.075em;
    color: rgb(51, 51, 51);
    line-height: 1.6;
    margin-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .uk-checkbox, .uk-radio {
        position: relative;
        top: 5px;
        min-width: 16px;
        margin-right: 20px;

    }

    .uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus {
        background-color: rgb(65, 143, 67);
    }

    .uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
        background-color: rgb(65, 143, 67);
    }

    .uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus {
        background-color: rgb(65, 143, 67);
    }
}

.form-container {
    padding: 75px;

    textarea {
        resize: none;
    }

    @media only screen and (max-width: 1680px) {
        padding: 75px 20px;
    }

    @media only screen and (max-width: 1200px) {
        padding: 75px 20px;
    }

    @media only screen and (max-width: 959px) {
        padding: 0;
    }
}

@media only screen and (max-width: 959px) {

    .contact {
        .download-section__container {
            margin-top: 40px;
            padding: 50px 30px;
        }
    }

    .hide-tablet {
        display: none;
    }

}

.uk-input {
    padding-left: 20px;
}

