.fixed-div-height {
  height: 15rem;
}

.hide-header {
  position: fixed;
  z-index: 11;
  top: 0;
  height: 15rem;
  width: 100%;
  background-color: transparent;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &__primary-nav,
  &__secondary-nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% - 4rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2rem;
    background: #fff;

  }

  &__primary-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 10rem;
  }

  &__secondary-nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 4.9rem;
    border-bottom: 1px solid rgb(235, 235, 235);


  }

  &.visible-bg {
    background: #fff;
  }

  &__list {
    position: relative;
  }
}

.hide-header.is-hidden {
  -webkit-transform: translateY(-5rem);
  transform: translateY(-5rem);
}

.main-bannner {
  .uk-dotnav>.uk-active>* {
    background-color: rgb(159, 198, 160);
  }

  .uk-dotnav>*>* {
    border: none;
    background: rgb(228, 238, 229);
    width: 20px;
    height: 20px;
  }

  .uk-dotnav {
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
    width: calc(100% - 60px);
    max-width: 1300px;
    margin: 0 auto;
  }

}

.parent-li {

  position: relative;
  &::before {
    content: url(../images/svg/arrow-nav.svg);
    display: block;
    position: absolute;
    right: 5px;
    top: 30px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }

  &:hover {
    &::before {
      content: url(../images/svg/arrow-nav-green.svg);
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
    }
  }
}

.uk-offcanvas-bar {
  .parent-li {

    &::before {
      content: url(../images/svg/arrow-nav-green.svg);
      top: 15px;

    }

    &:hover {
      &::before {
        content: url(../images/svg/arrow-nav.svg);
      }
    }
  }
}

.active-menu-link {
  color: rgb(64, 142, 66)!important;
}

.uk-offcanvas-bar .active-menu-link {
  color: rgb(34, 34, 34)!important;
}

body .hide-header .header-nav {

  &__list {
    margin-right: 1.2rem;

    @media only screen and (max-width: 1200px) {
      margin-right: .4rem;
    }
  }

  &__link {
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    text-transform: none;
    color: $textColor;
    font-family: 'Poppins', sans-serif;
  }
}
