.margin-top {
    margin-top: 0;
}

.margin-top-42 {
  margin-top: 42px;
}

.mar-bottom-30 {
    margin-bottom: 3rem;
}

.mar-bottom-50 {
    margin-bottom: 5rem;
}

.mar-bottom-100 {
    margin-bottom: 10rem;

    @media only screen and (max-width: 1200px) {
        margin-bottom: 5rem;
    }
}

.special-margin {
  margin-top: 10rem;

  @media only screen and (max-width: 1680px) {
    margin-top: 5em;
  }
}

.margin-center {
    margin: 0 auto;
}

.margin-right {
    margin-right: 2rem;
    @media only screen and (max-width: 575px) {
        margin-right: 0;
    }
}
