@import "https://fonts.googleapis.com/css?family=Old+Standard+TT|Poppins:300,400,600,700&display=swap&subset=latin-ext";

body.login {
    height: 100vh;
    background: url(../images/login.jpg) no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

body .login .button.wp-hide-pw {
  background: 0 0;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  font-size: 14px;
  line-height: 2;
  width: 2.5rem;
  height: 2.5rem;
  min-width: 40px;
  min-height: 40px;
  margin: 0;
  padding: 5px 9px;
  position: absolute;
  right: 0;
  top: 8px;
  color: rgb(64, 142, 66);
}

body .login #login_error, body .login .message, body .login .success {
  border-left: 4px solid rgb(64, 142, 66);
  padding: 12px;
  margin-left: 0;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

body.login div#login {
    width: 70vh;
    padding: 0;
    margin: 0 auto 0 auto;
    max-width: 560px;
    -webkit-box-shadow: 0 0 2rem rgba(0,0,0,0.1);
    box-shadow: 0 0 2rem rgba(0,0,0,0.1);
}
body.login div#login h1 {
    background: rgba(255, 255, 255, 1);
    height: 12rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

body.login div#login h1 a {
    background-image: url(../images/svg/sk-logo.svg);
    width: 100%;
    background-size: contain;
    height: 70px;
    margin: 0;
}
body.login div#login form#loginform {
    background: rgba(255, 255, 255, 1);
  border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
            padding: 0 5rem 3.5rem;
            margin: 0;
}
body.login div#login form#loginform p label {
  font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: rgb(26, 23, 27);
    text-transform: lowercase;
	font-weight: 300;
}
body.login div#login form#loginform input {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgb(221, 221, 221);
    background: rgba(0, 0, 0, 0);
}

body .login form {
    border: none;
}

#text {
    position: relative;
    left: 5px;
}

body.login div#login form#loginform input#user_login {
    margin-top: 8px;

}
body.login div#login form#loginform input#user_pass {
    margin-top: 8px;

}
body.login div#login form#loginform p.forgetmenot {display: none;}
body.login div#login form#loginform p.forgetmenot input#rememberme {display: none;}
body.login div#login form#loginform p.submit {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body.login div#login form#loginform p.submit input#wp-submit:hover {
    background:rgb(64, 142, 66);
    color: rgb(255, 255, 255)!important;
}
body.login div#login form#loginform p.submit input#wp-submit {
    font-size: 16px;
    font-weight: 400;
    margin: 4rem auto 2rem!important;
    border: 1px solidrgb(64, 142, 66);
    width: 15rem;
    height: 4rem;
    letter-spacing: .2em;
    border-radius: 12rem;
    -webkit-transition: color .3s,background .3s;
    transition: color .3s,background .3s;
    color: rgb(34, 34, 34)!important;
    text-transform: uppercase;
}
body.login div#login p#nav {display: none;}
body.login div#login p#backtoblog {display: none;}
body.login div#login p#backtoblog a {display: none;}
body.login a {    color: rgb(26, 23, 27);}
body.login #login_error,
body.login .message {
    background: rgba(255, 255, 255, .7);
    border-left: 8px solidrgb(64, 142, 66);
	color: #232323;
  font-family: "Poppins", sans-serif;
    width: calc(100% - 2rem);
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.6;
    text-transform: lowercase;
	font-weight: 400;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.login .privacy-policy-page-link {
    text-align: center;
    width: 100%;
    margin: 1em 0 1em;
}

@media only screen and (min-width: 2000px) {
    body.login div#login {
        width: 70vh;
    }
}
